@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Lobster&display=swap");

$font: "Roboto", sans-serif;
$font_sub: "Lobster", sans-serif;
$c_main: #415165;
$c_sub: #b6b9d4;
$c_light: #ffffff;
$c_light_trans3: #ffffff33;
$c_light_trans6: #ffffff66;
$c_light_trans9: #ffffff99;
$c_dark: #333333;
$c_dark_trans2: #00000022;
$c_dark_trans4: #00000044;
$c_gray: #ebebeb;
$c_gray_light: #f5f5f5;
$c_gray_dark: #7d7d7d;
