@import "./reset";
@import "./mixin";
@import "./_variables";
@import "./_icofont";

html,
body {
  color: $c_dark;
  font-size: 18px;
  font-family: $font;
  scroll-behavior: smooth;
}

.cover {
  background-color: $c_light;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}

.title {
  position: relative;
  padding: 2rem 0 4rem;
  font-size: 2.3rem;
  font-weight: bold;
  line-height: 3rem;
  text-align: center;
  letter-spacing: 0.5rem;
  background-color: $c_gray;
  user-select: none;
  z-index: 1;
  @include clip(1.2rem);
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 1px;
    bottom: 1px;
    left: 0;
    right: 0;
    background: url("../images/title.jpg") no-repeat top 20% right / cover;
    z-index: -1;
    @include clip(1.2rem);
  }
  &::after {
    background: $c_light_trans3;
  }
  > span {
    position: absolute;
    top: 45%;
    left: 50%;
    color: $c_gray_dark;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    transform: translateX(-50%);
    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: -100%;
      display: block;
      width: 75px;
      height: 0;
      border: 1px solid $c_gray_dark;
      transform: translateY(-50%);
    }
    &::after {
      left: unset;
      right: -100%;
    }
  }
}

.timeline {
  position: relative;
  padding: 4rem 0;
  &-item {
    position: relative;
    width: 50%;
    padding: 2rem 3.2rem;
    border-top: 1px solid $c_gray;
    border-bottom: 1px solid $c_gray;
    box-sizing: border-box;
    @for $i from 1 through 9 {
      &:nth-child(#{$i})::after {
        content: "0" + $i;
        top: 2rem;
        position: absolute;
        font-size: 3rem;
        font-weight: bold;
        letter-spacing: 0.75rem;
        color: $c_gray_dark;
        font-family: $font_sub;
      }
    }
    &:nth-child(odd) {
      margin-left: 50%;
      &::after {
        transform: translateX(-240%);
      }
    }
    &:nth-child(even) {
      & > .timeline-icon {
        left: unset;
        right: 0;
      }
      & > * {
        text-align: right;
      }
      &::after {
        right: 0;
        transform: translateX(170%);
      }
    }
  }
  &-icon {
    position: absolute;
    top: 1.75rem;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    color: $c_light;
    background-color: $c_dark;
  }
  &-title {
    padding-bottom: 1rem;
    font-size: 1.75rem;
    font-weight: bold;
    letter-spacing: 0.5rem;
  }
  &-subTitle {
    font-size: 1.25rem;
    padding-bottom: 0.5rem;
  }
  &-text {
    color: $c_gray_dark;
    line-height: 1.2rem;
    font-size: 0.8rem;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: -1.25rem;
    left: 50%;
    width: 1px;
    background-color: $c_gray;
  }
}

.top {
  height: 100vh;
  padding: 0.5rem 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  box-sizing: border-box;
  &_mouse {
    height: 25px;
    width: 14px;
    border-radius: 10px;
    border: 2px solid $c_light;
  }
  &_mouseIn {
    height: 5px;
    width: 2px;
    display: block;
    margin: 5px auto;
    background: $c_light;
    animation: mouse-scroll 1.2s ease infinite;
    @keyframes mouse-scroll {
      from {
        opacity: 1;
        transform: translateY(0);
      }
      to {
        opacity: 0;
        transform: translateY(6px);
      }
    }
  }
  &_arrow {
    display: block;
    width: 10px;
    height: 10px;
    margin-left: 3px;
    border-right: 2px solid $c_light;
    border-bottom: 2px solid $c_light;
    transform: rotate(45deg);
    animation: mouse-arrow 1s infinite;
    animation-direction: alternate;
    &:nth-child(2) {
      animation-delay: 0.1s;
      transform: rotate(45deg);
    }
    &:nth-child(3) {
      animation-delay: 0.2s;
      transform: translateY(-50%) rotate(45deg);
    }
    &:nth-child(4) {
      animation-delay: 0.3s;
      transform: translateY(-100%) rotate(45deg);
    }
    @keyframes mouse-arrow {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
  }
  &:hover + .banner::after {
    backdrop-filter: blur(4px) opacity(1);
  }
}

.banner {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../images/banner.png) no-repeat center center / cover;
  z-index: -9;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $c_light_trans6;
    transition: backdrop-filter 0.5s;
    backdrop-filter: blur(4px) opacity(0);
  }
}

.banner_text {
  position: fixed;
  top: 20vh;
  bottom: 15vh;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: transparent;
  font-family: $font_sub;
  text-align: center;
  background: linear-gradient($c_main 50%, $c_dark 50%);
  background-size: 100% 200%;
  -webkit-background-clip: text;
  background-clip: text;
  animation: progress 10s infinite ease-out alternate;
  z-index: -9;
  &-sign {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
    border: 5px solid $c_main;
    background-color: $c_light_trans3;
  }
  &-title {
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 0.75rem;
  }
  &-subTitle,
  &-describe {
    font-family: $font;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.75rem;
  }
  &-describe {
    padding: 0.5rem 1rem;
    background-color: $c_light_trans3;
  }
  @keyframes progress {
    0% {
      background-position: 0% 0%;
    }
    25% {
      background-position: 0% 10%;
    }
    26% {
      background-position: 0% 10%;
    }
    51% {
      background-position: 0% 85%;
    }
    100% {
      background-position: 0% 100%;
    }
  }
}

.profile {
  display: flex;
  transform: translateY(-1.2rem);
  box-sizing: border-box;
  &-image {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    padding: 1.2rem;
    background-color: $c_dark;
    background: linear-gradient($c_light_trans9, $c_light_trans9),
      url(../images/profile.png) no-repeat center center / cover;
    > * {
      width: 100%;
      text-align: right;
      color: $c_dark;
      font-weight: bold;
    }
  }
  &-name {
    order: 1;
    margin-bottom: 1rem;
    font-size: 2rem;
    letter-spacing: 0.5rem;
  }
  &-text {
    flex: 2;
    width: 100%;
    padding-right: 2.4rem;
    overflow: hidden;
  }
  &-intro,
  &-info {
    position: relative;
    max-width: 1000px;
    padding: 1.2rem;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transform: scaleX(4);
      z-index: -1;
    }
  }
  &-intro {
    font-size: 1.1rem;
    line-height: 1.5rem;
    text-align: justify;
    text-indent: 2em;
    & > p + p {
      margin-top: 0.5rem;
    }
  }
  &-intro {
    &::before {
      background-color: $c_sub;
    }
  }
  &-info {
    color: $c_light;
    line-height: 1.5rem;
    & > li > span {
      margin-left: 0.5rem;
      letter-spacing: 0.15rem;
    }
    & > li:nth-child(4) > span {
      letter-spacing: 0.35rem;
    }
    & > li > a {
      color: $c_light;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
    &::before {
      background-color: $c_dark;
    }
  }
}

.services {
  position: relative;
  background-color: $c_gray_light;
  &Cnt {
    padding-bottom: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-item {
      width: 100%;
      padding: 3rem 0;
      text-align: center;
      & > i {
        font-size: 2rem;
      }
      & > span {
        display: block;
        padding-top: 0.5rem;
      }
    }
    &-item + &-item {
      border-left: 2px solid $c_gray;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: -1.2rem;
    left: 0;
    display: block;
    width: 100%;
    height: 1.2rem;
    background-color: $c_gray_light;
  }
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
  padding: 2rem 0;
  &-item {
    width: 30%;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border: 1px solid $c_gray;
    &:hover .portfolio-link {
      z-index: 0;
    }
    &:hover .portfolio-title {
      background-color: $c_light;
    }
  }
  &-image {
    position: relative;
    width: 100%;
    height: 180px;
    padding-bottom: 0.5rem;
    > img,
    > .ico {
      width: 100%;
      height: 100%;
      object-position: center center;
      object-fit: cover;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 100px;
      background-color: $c_gray_light;
    }
  }
  &-link {
    position: absolute;
    top: 0;
    bottom: 2.2rem;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $c_light_trans3;
    z-index: -1;
    &Btn {
      padding: 1rem;
      color: $c_light;
      background-color: $c_dark_trans4;
      font-size: 1.5rem;
      text-decoration: none;
      border-radius: 0.5rem;
      &:hover {
        color: $c_main;
      }
    }
  }
  &-title {
    padding: 0.25rem 0;
    font-size: 1.25rem;
    text-align: center;
    background-color: $c_light_trans9;
    transform: translateY(-95%);
    transition: background-color 0.5s;
  }
  &-subTitle {
    padding-bottom: 0.5rem;
    font-size: 1.25rem;
    font-weight: bold;
    letter-spacing: 0.25rem;
  }
  &-skills {
    display: flex;
  }
  &-skill {
    margin-right: 0.5rem;
    padding: 0.25rem 0.75rem;
    color: $c_light;
    font-size: 0.5rem;
    background-color: $c_main;
    border-radius: 0.75rem;
    &-Vue3 {
      background-color: #42b883;
    }
    &-Vue2 {
      background-color: #33475b;
    }
    &-Canvas {
      background-color: #00c4cc;
    }
    &-SCSS {
      background-color: #cf649a;
    }
    &-JavaScript {
      background-color: #efd81d;
    }
    &-Firebase {
      background-color: #ffa713;
    }
    &-HTML {
      background-color: #de4b25;
    }
  }
  &-dateTime,
  &-decs {
    color: $c_gray_dark;
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
}

.skills {
}

.certificate {
  & > .title {
    transform: translateY(1.25rem);
  }
  &-bg {
    position: relative;
    width: 100%;
    padding: 3rem 0;
    background: linear-gradient(
        to right,
        $c_dark_trans2 50%,
        $c_dark_trans4 50%
      ),
      url("../images/certificate-bg.png") top center / cover;
    background-attachment: fixed;
    > .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
    }
  }
  &-swiper {
    width: 400px;
    height: 400px;
  }
  &-item > img {
    width: 100%;
    height: 100%;
    object-position: center center;
    object-fit: contain;
  }
  &-lightbox {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    background-color: $c_dark_trans4;
    z-index: -1;
    opacity: 0;
    & > img {
      width: 100%;
      height: 100%;
      object-position: center center;
      object-fit: contain;
    }
    &:target {
      z-index: 2;
      opacity: 1;
      transition: opacity 0.5s;
    }
  }
}

.contact {
  position: relative;
  background: linear-gradient(to right, $c_dark_trans2 50%, $c_dark_trans4 50%),
    $c_dark;
  &_title {
    position: relative;
    width: 150px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    text-align: center;
    color: $c_light;
    background-color: $c_main;
  }
  &_list {
    display: flex;
    justify-content: center;
    align-items: center;
    &-item {
      display: block;
      margin: 1rem 0.5rem;
      padding: 0.25rem 0.3rem;
      color: $c_light;
      background-color: #282828;
      text-decoration: none;
      transition: color 0.5s, background-color.5s;
      &:hover {
        color: #282828;
        background-color: $c_light;
      }
    }
  }
  &_reserved {
    margin-bottom: 1rem;
    color: $c_light;
    font-size: 0.8rem;
    text-align: center;
  }
  &_top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 0 auto 0.25rem;
    color: $c_gray_dark;
    background-color: $c_main;
    text-decoration: none;
    transition: color 0.5s;
    &:hover {
      color: $c_light;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -0.25rem;
      left: 0;
      right: 0;
      height: 0.25rem;
      background-color: $c_main;
    }
  }
}
